/* This is a custom css scripts and contains the following features:
- Funnel: Adds HC branding
- Funnel: Removes the promotion box
- Funnel: Styles the financial plan widget
- Results table: Fixes the scaling of eligiblity icon in the results table
- Results table: Adds style to HC products (identified with the banner)
- Results table: Add eligibility section titles and formatting
- Results table: Remove labels from amount sliders
- Results table: override title in blue header
- Results table: Use #approved-products to add message when no results found 
- Provider pages: Removes unsupported content
*/

/* 
	HL funnel customizations
*/

.cgg-promotion-info {
  display: none;
}

/* Financial plan styling */
#fp-loan-amount {
  font-weight: bold;
}

/*
	HL funnel HypoConnect branding
*/

body.hypoconnect {
  background-color: #e0edee;
  transition: 0.8s;
}
body.hypoconnect .cgg-progress__bar {
  background-color: #8d1656 !important;
}
body.hypoconnect .cgg-progress__bar-container {
  background-color: #5e6e82 !important;
}
body.hypoconnect .cgg-progress__step-icon.cgg-progress__highlighted {
  background-color: #8d1656;
  border-color: #8d1656;
}
body.hypoconnect .cgg-progress__step-icon.cgg-progress__notHighlighted {
  border: 2px solid #5a6e84 !important;
  background-color: #eff9f9;
}
body.hypoconnect .cgg-headline-description__headline {
  color: #333;
}
body.hypoconnect .cgg-group-button .continue-button {
  background-color: #9a0058;
  border-color: #9a0058;
}
body.hypoconnect .cgg-group-button .go-back-button {
  background-color: #fff;
  /*border:1px solid #004f9a*/
}
body.hypoconnect .cgg-group-button .go-back-button > span {
  /*color:#004f9a */
}
body.hypoconnect .cgg-info-box,
body.hypoconnect .ci-info-box {
  box-shadow: 5px 5px 0 1px #cadddf;
  color: #004f9a;
}
body.hypoconnect .ci-info-box > .info_up_half {
  border-bottom-color: #004f9a;
}
body.hypoconnect .cgg-global-input {
  border: 1px solid #fff;
}
body.hypoconnect .funnel-page__step-container:before {
  content: "";
  width: 100px;
  height: 50px;
  background: url(https://www.topcompare.be/s3/belgium/topcompare.be/production/be/images/providerLogos/HypoConnect.png)
    no-repeat;
  background-size: 100%;
  display: block;
  margin: 0;
}
body.hypoconnect .cgg-progress__step-icon i,
body.hypoconnect .m-cgg-icon--chevron-right,
body.hypoconnect .cgg-hint__header a.cgg-help,
body.hypoconnect
  .ci-info-box
  .ci-info-box__selectedLink.ci-info-box__selectedLink,
body.hypoconnect .ci-info-box .info_link_style a {
  color: #9a0058;
}
body.hypoconnect .radio-toolbar label {
  border: 1px solid #9a0058;
}
body.hypoconnect .radio-toolbar input[type="radio"]:checked + label {
  background-color: #9a0058;
}

body.hypoconnect application-skip-link {
  font-style: italic;
}

/*
	Results table HC branding and customizations
*/

@media (min-width: 991px) {
  body.hl-rt .product-name-container.hc {
    background-color: rgba(141, 22, 86, 0.15);
  }
}

body.hl-rt .product-name-container .product-label {
  background-color: #8d1656 !important;
}

body.hl-rt .score-ranking-medium,
.score-ranking-high,
.score-ranking-low {
  background-color: #fafafa !important;
}

body.hl-rt .banner-title.exclusive {
  color: #8d1656 !important;
}

body.hl-rt .footer-container {
  background-color: #fafafa;
}

/* Fix scaling eligiblity icon */
@media (max-width: 992px) {
    body.hl-rt .footer-container img {
        width: unset !important;
    }
}

/* Override the header title because the number of products is misleading*/
body.hl-rt .top-banner__heading span {
    display: none;
}
:lang(fr) body.hl-rt .top-banner__heading:before {
    content: "Voici vos résultats personnalisés";
}
:lang(nl) body.hl-rt .top-banner__heading:before {
    content: "Jouw gepersonaliseerde resultaten";
}

/* Hide the column that contains the total reimbursement amount */
body.hl-rt .metrics>div:nth-of-type(2) {
    display: none !important;
}

/* Remove footer information on eligibility for non-eligible products (as the section title is explicity enough)*/
.footer-container.score-ranking-no_chance > div > * > img, .footer-container.score-ranking-no_chance > div > * >.footer-primary {
    display: none;
}

/* Remove amount slider labels */
body.hl-rt .range-limit-container {
    display: none !important;
}
body.hl-rt .slider-set {
    height: unset !important;
    padding-bottom: 10px !important;
}

/* Override title in blue header bar and make it thinner */
body.hl-rt .top-banner__heading>* {
    display: none;
}

body.hl-rt :lang(fr) .top-banner__heading:after {
    content: "Vos résultats"
}
body.hl-rt :lang(nl) .top-banner__heading:after {
    content: "Jouw resultaten"
}

body.hl-rt .top-banner {
    height: 51px !important;
}

/* 
	START SECTION FORMATTING AND TITLES
*/
body.hl-rt #results-container .cards-container {padding-top: 0px;}

/* Padding for sections */
body.hl-rt #results-container .cards-container#eligible-products {padding-top: 16px;}
body.hl-rt #results-container .cards-container#eligible-under-conditions-products {padding-top: 16px;}
body.hl-rt #results-container .cards-container#not-eligible-products {padding-top: 16px;}
body.hl-rt #results-container .cards-container#unknown-eligibility-products {padding-top: 16px;}

/* Margin between products */
body.hl-rt .card-holder .card-container{margin: 16px 0 !important;}


/* Eligible */
body.hl-rt #results-container div#eligible-products:before {
    font-size: 24px;
    font-weight: bold;
    color: #076B9C;
    line-height: 1.2;
}

body.hl-rt #results-container div#eligible-products .card-holder:first-child:before {
    font-size:16px;
    line-height: 1.5;
    color: #312F2E;
}

:lang(fr) body.hl-rt #results-container div#eligible-products:before {
    content: 'Vos prêts hypothécaires préacceptés';
}
:lang(nl) body.hl-rt #results-container div#eligible-products:before {
    content: 'Leningen waarvoor je voorlopig bent goedgekeurd';
}
:lang(fr) body.hl-rt #results-container div#eligible-products .card-holder:first-child:before {
    content: "Nous avons vérifié votre éligibilité auprès de ces banques et le taux personnalisé que vous pouvez obtenir avec les informations que vous nous avez fournies.";
}
:lang(nl) body.hl-rt #results-container div#eligible-products .card-holder:first-child:before {
    content: "We hebben geverifieerd dat je in aanmerking komt voor een lening bij deze banken met je gepersonaliseerde rentevoet op basis van de door jou verstrekte informatie.";
}    


/* Eligible under conditions */
/* Title of the section */
body.hl-rt #results-container div#eligible-under-conditions-products:before {
    font-size: 24px;
    font-weight: bold;
    color: #076B9C;
    line-height: 1.2;
}

/* Description of the section */
body.hl-rt #results-container div#eligible-under-conditions-products .card-holder:first-child:before {
    font-size:16px;
    line-height: 1.5;
    color: #312F2E;
}

:lang(fr) body.hl-rt #results-container div#eligible-under-conditions-products:before {
    content: "D'autres potentielles solutions de prêt";
}
:lang(nl) body.hl-rt #results-container div#eligible-under-conditions-products:before {
    content: "Andere mogelijke kredietoplossingen";
}
:lang(fr) body.hl-rt #results-container div#eligible-under-conditions-products .card-holder:first-child:before {
    content: "Nous n'avons pas pu vérifier toutes les conditions d'éligibilité auprès de ces banques.";
}
:lang(nl) body.hl-rt #results-container div#eligible-under-conditions-products .card-holder:first-child:before {
    content: "We beschikken niet over alle vereisten om te bevestigen of je bij deze banken een lening krijgt.";
}


/* Not eligible-products */
/* Title of the section */
body.hl-rt #results-container div#not-eligible-products:before {
    font-size: 24px;
    font-weight: bold;
    color: #076B9C;
    line-height: 1.2;
}

/* Description of the section */
body.hl-rt #results-container div#not-eligible-products .card-holder:first-child:before {
    font-size:16px;
    line-height: 1.5;
    color: #312F2E;
}

:lang(fr) body.hl-rt #results-container div#not-eligible-products:before {
    content: "Les prêts qui ne soutiennent pas votre projet";
}
:lang(nl) body.hl-rt #results-container div#not-eligible-products:before {
    content: "Leningen die je project niet ondersteunen";
}
:lang(fr) body.hl-rt #results-container div#not-eligible-products .card-holder:first-child:before {
    content: "Les raisons peuvent varier, comme votre apport en fonds propres, votre stabilité financière, votre âge, etc.";
}
:lang(nl) body.hl-rt #results-container div#not-eligible-products .card-holder:first-child:before {
    content: "Je beantwoordt niet aan alle vereisten (eigen bijdrage, financiële stabiliteit, leeftijd,..) om bij deze banken een lening te krijgen.";
}

/* Uknown eligibility */
/* Title of the section */
body.hl-rt #results-container div#unknown-eligibility-products:before {
    font-size: 24px;
    font-weight: bold;
    color: #076B9C;
    line-height: 1.2;
}

:lang(fr) body.hl-rt #results-container div#unknown-eligibility-products:before {
    content: "Nous n'avons pas pu vérfier votre éligibilité auprès de ces institutions";
}
:lang(nl) body.hl-rt #results-container div#unknown-eligibility-products:before {
    content: "We hebben bij deze instellingen niet kunnen nagaan of je in aanmerking komt";
}

/* No results message */
body.hl-rt #results-container div#approved-products:before {
    font-size: 24px;
    font-weight: bold;
    color: #076B9C;
    line-height: 1.2;
}
body.hl-rt #results-container div#approved-products .card-holder:first-child:before {
    font-size:16px;
    line-height: 1.5;
    color: #312F2E;
}

:lang(fr) body.hl-rt #results-container div#approved-products:before {
    content: "Désolé, nous n'avons pas trouvé de prêt pour vous";
}
:lang(nl) body.hl-rt #results-container div#approved-products:before {
    content: "Sorry, we hebben geen lening voor jouw gevonden";
}
:lang(fr) body.hl-rt #results-container div#approved-products .card-holder:first-child:before {
    content: "Les données que vous avez entrées dans le formulaire ne permettent à aucune de nos institutions partenaires de soutenir votre projet. Les raisons peuvent varier mais les plus communes sont un apport de fonds propres trop faible par rapport au montant total du prêt, une situation financière particulière (indépendant, directeur d’entreprise) ou instable. Nous travaillons sur notre comparaison afin d’offrir une solution pour toutes les situations, n’hésitez pas à nous laisser un message".";
}
:lang(nl) body.hl-rt #results-container div#approved-products .card-holder:first-child:before {
    content: "Met de gegevens die je in het formulier hebt ingevuld, kan geen van onze partnerinstellingen je project ondersteunen. De redenen kunnen variëren, maar de meest voorkomende zijn: de eigen inbreng is te laag in verhouding tot het te lenen bedrag, een bijzondere financiële situatie (onafhankelijk, bedrijfsleider) of instabiel. We werken aan onze vergelijking om een oplossing te bieden voor alle situaties, aarzel niet om ons feedback te geven";
} 

/* Hides metrics - Replace the ID as needed */
body.hl-rt #results-container div#unknown-eligibility-products .show-more-btn {
    display: none !important;
}

body.hl-rt #results-container div#unknown-eligibility-products .product-name {
    display: none;
}

body.hl-rt #results-container div#unknown-eligibility-products .card-column:not([data-col-title=apr]):not([data-col-title=taeg]) {
    display: none;
}

body.hl-rt #results-container div#unknown-eligibility-products .card-column[data-col-title=taeg] {
    display: block;    
}

body.hl-rt #results-container div#unknown-eligibility-products .card-column[data-col-title=apr] {
    display: block;
}

body.hl-rt #results-container div#unknown-eligibility-products .card-column[data-col-title=type] {
    display: block;
}

/* Makes the section of the Unknown eligibility responsive */
body.hl-rt #results-container div#unknown-eligibility-products .card-holder {
    background-color: none;
    border: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 0;
    justify-content: space-between;
}

/* Style for the metrics - APR */
body.hl-rt #results-container div#unknown-eligibility-products .card-column[data-col-title=apr] .column-primary{
    color: #6C6563;
    font-size: 18px;
    line-height: 1.2;
}

body.hl-rt #results-container div#unknown-eligibility-products .card-column[data-col-title=apr] .column-secondary{
    color: #6C6563;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.2;
}

/* Style for the metrics - TAEG */
body.hl-rt #results-container div#unknown-eligibility-products .card-column[data-col-title=taeg] .column-primary{
    color: #6C6563;
    font-size: 18px;
    line-height: 1.2;
}

body.hl-rt #results-container div#unknown-eligibility-products .card-column[data-col-title=taeg] .column-secondary{
    color: #6C6563;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
}

/* Hides a gray div that appears on certain products */
body.hl-rt #results-container div#unknown-eligibility-products .footer-container{
    display: none;
}


/* Containers of the Unknown Eligibility Products */
body.hl-rt #results-container div#unknown-eligibility-products .card-container {
    display: inline-block!important;
    margin-right: 0 !important;
    border: 1px solid #CCCBC8;
    border-radius: 3px;
    width: 23%;
    height: auto;
    box-shadow: none;
}
/* Reduce space between the metric lines to make the box more compact */
#unknown-eligibility-products .inner-content .card-column__before_text {
	height: 0.5em;
}

body.hl-rt #results-container div#unknown-eligibility-products .card-container .card-top .product-name-container{
    padding:0;
    border-bottom: none;
    text-align: center;
}

body.hl-rt #results-container div#unknown-eligibility-products .card-container .inner-content .metrics{
    display:inline-block;
    text-align: center;
    vertical-align: middle !important;
}


body.hl-rt #results-container div#unknown-eligibility-products .show-more-container {
    display:none;
}

/* Hides the eligibility status on the unknown-eligibility-products section */
body.hl-rt #results-container div#unknown-eligibility-products .footer-container-inner{display:none;}

body.hl-rt .product-boxes .product-label{display: none;}


/* Code to make the desktop style match mobile */
body.hl-rt .card-top .product-name-container{
    background-color: #fff !important;
    padding-top: 16px;
    padding-bottom: 8px;
    border: none;
}


/* Padding between eligibility status and HypoConnect */
body.hl-rt .generic-design .footer-container .banner-display{
    padding-top: 8px;
}

body.hl-rt .sort-selection__dropdown{
    width: 160px;
}

/* MEDIA QUERIES */
/* If the browser window is Xpx or smaller */
@media only screen and (max-width: 1200px) {
    body.hl-rt #results-container div#unknown-eligibility-products .card-container {
        width: 30%;
    }
}

@media only screen and (max-width: 992px) {
    body.hl-rt #results-container div#unknown-eligibility-products .card-container {
        width: 32%;
    }

    body.hl-rt .product-name-container {
        border: none;
    }

    body.hl-rt #results-container div#unknown-eligibility-products .card-container .card-top .product-name-container .product-image{
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        position: initial;
        margin-top: 16px;
    }

    body.hl-rt #results-container div#unknown-eligibility-products .card-container .inner-content .metrics{
        text-align: center;
        display: inline-block !important;
    }
}

@media only screen and (max-width: 768px) {
    body.hl-rt #results-container div#unknown-eligibility-products .card-container {
        width: 28%;
    }
	
    body.hl-rt #results-container div#unknown-eligibility-products .card-holder{
        margin: 0 10px;
    }
	
    body.hl-rt #results-container div#eligible-products:before,
    body.hl-rt #results-container div#eligible-under-conditions-products:before,
    body.hl-rt #results-container div#not-eligible-products:before,
    body.hl-rt #results-container div#unknown-eligibility-products:before {
        font-size: 16px;
    }
    
    body.hl-rt #results-container .card-holder:first-child:before {
        padding-left: 10px;
        padding-right: 10px;
        display: block;
    }

    body.hl-rt  #results-container .cards-container:before {
        padding-left: 10px;
        padding-right: 10px;
        display: block;
    }
}

@media only screen and (max-width: 562px) {
    body.hl-rt #results-container div#unknown-eligibility-products .card-container {
        width: 48%;
    }
}

/* 
	END SECTION FORMATTING AND TITLES
*/

/*
	Provider pages: removal of unsupported content
*/
div#provider-details__product-contents-mg+.provider-block-product-contents__search-result{
    display: none;
}

div#provider-details__product-contents-mg+.provider-block-product-contents__search-result+.provider-block-cc-portal{
    display: none;
}

